@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

.boddy{
  background: #000000;
}
.navbar{
  display: flex;
  flex-direction: column;
  background: #191919;
  font-family: Inter;
  color: #ebebeb;
}
.navbar-top{
  display: flex;
  align-items: center;
  align-content: center;
}
.search-option{
  margin: 1rem 0;
  border-radius: 10px;
  border-color: white;
  border-width: 0.01rem;
  padding: 0.4rem 0.8rem;
  color: #8c8ca1;
  font-size: 16px;
  background: black;
  font-family: "Work Sans";
}
.title-in{
  /* text-align: center; */
  display: flex;
  font-size: 16px;
}
.line{
  margin: 1.3rem auto;
  width: 100%;
  border-bottom: 0.1rem solid #575767;
}
li{
  font-size: 14px;
  list-style: none;
}
.hide{
  display: none;
}
.search-option:focus{
  outline: 0;
  border-color: #0086ff;
  border-width: 0.1rem;
  /* box-shadow: 0 1px 4px rgba(255, 255, 255, 0.8); */
}
.toggled-region{
  transition: height 5s;
  animation-timing-function: linear;
}
.navbar-image{
  position: absolute;
  left: 20px;
  top: 10px;
  height: 60px;
  width: auto;
  cursor: pointer;
}
.profile-card{
  display: none;
}
.power-attr{
  padding: 1rem;
  margin: 2rem;
  background: #191919;
  border: 2px solid #323232;
  box-sizing: border-box;
  border-radius: 24px;
}
.checkbox-lg .custom-control-label::before{
  content: "";
  background-color: black;
  border: none;
  border-radius: 5px;
  top: 0.05rem;
  left: -1.6rem;
  width: 1.35rem;
  height: 1.35rem;
}
.custom-control-input:focus
{
  border-radius: 5px;
  outline: 0;
}

.custom-control-label{
  padding-left: 5px;
}

.custom-checkbox{
  padding: 0.1rem;
  border-radius: 5px;
}
.custom-checkbox
.custom-control-label::before {
  border-radius: 5px;
}
.checkbox-lg .custom-checkbox:checked
.custom-control-label::after{
  border-radius: 5px;
  position: absolute;
  top: 1rem;
  width: 1.35rem;
  height: 1.35rem;
  background-color: #0086FF;
}
.title-out{
  color: #8f8f90;
  font-family: Inter;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin: 1rem 0;
}
.vline{
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid gray;
}
.ccol{
  display: flex;
  margin: 0.3rem 1rem;
}
.custom-control-label{
  color: #CCCDCD;
  padding:0.3rem;
  font-size: 13px;
  font-weight: 600;
  font-family: Inter;
}
@media screen and (min-width:750px){
  .hide{
    display: inline;
  }
  .custom-control-label{
    padding: 0;
  }
  .each{
    margin: 0 auto;
  }
  .navbar-image{
    grid-area: hello;
    height: 100px;
    top: 20px;
    margin-left: 2.5rem;
    width: auto;
  }
  .title-out{
    margin-left: 2rem;
    text-align: left;
  }
  .navbar-top{
    position: absolute;
    left: 20px;
    display: inline;
  }
  .search-option{
    position: absolute;
    top: 130px;
    background: #000000;
    border: 1px solid #0086FF;
    box-shadow: 0px 0px 0px 4px rgba(0, 134, 255, 0.31);
    border-radius: 8px;
  }
  .navbar-top span{
    position: absolute !important;
    top: 155px !important;
    left: 215px;
  }
  .navbar{
    height: 100vh;
    width: 255px;
    border-right: 2px solid #323232;
  }
  .title-in{
    margin: 0.7rem 1rem;
  }
  li{
    margin: 0.20rem 0;
  }
  .toggled-region{
    position: absolute;
    left: 30px;
    top: 210px;
  }
  .profile-card{
    display: inline;
    margin-bottom: 1rem;
  }
  .profile-image{
    height: 60px;
    margin: 0 1.2rem 0 1rem;
    border-radius: 35px;
    border: 3px solid #0086ff;
  }
  .remaining{
    position: absolute;
    left: 280px;
    width: 80%;
    top: 20px;
  }
  .power-attr{
    display: flex;
    margin-top: 10px;
    align-content: space-around;
    align-items: center;
  }
  .vline{
    margin: 0 1rem;
    border-left: 1px solid gray;
    height: 100px;
  }
  .custom-control-label{
    color: #CCCDCD;
    padding-left: 4px;
    font-size: 12px;
    font-weight: 600;
    font-family: Inter;
  }
}
@media screen and (max-width:450px){
  .search-option{
    margin-left: 70px;
  }
  .ccol{
    display: flex;
    margin: 0rem 1rem;
    flex-direction: column;
  }
}